*.gz
*.pyc
*.sqlite*
*.log
.idea
*.bkp
.env
.vscode
.settings
.project
.pydevproject
index-*.html
_database.ini
media
params.py
data
venv
node_modules
statics/js/bundle.js
*-antigo
*-antigo.html
portalufopa.2024.10.25.sql
static_files/ds-ufopa/css/dist
a_portal_new
@govbr-ds
ds-ufopa
backup
file
*descontinuado*
temp